{% extends 'boards/base.html' %}

{% block body %}
    <h1>New</h1>
    <form method="POST">   <!-- 원래는 <form action="{# url 'boards:new' #}" method="POST"> 인데 액션이 없으면 자기 자신인 new로 돌아오기때문에 안써도된다.-->
        {% csrf_token %}
        <label for="title">TITLE</label>
        <input type="text" name="title" id="title"/>
        <label for="content">CONTENT</label>
        <input type="text" name="content" id="content"/>
        <input type="submit" value="submit"/>
    </form>
    <a href="{% url 'boards:index' %}">BACK</a>
{% endblock %}